SPRING_PROFILES_ACTIVE=dev
PORT=8080

DB_URL=jdbc:postgresql://postgres:5432/saep_db
DB_USERNAME=change_me
DB_PASSWORD=change_me

POSTGRES_DB=saep_db
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me

PALAVRA_SECRETA=replace_with_a_strong_secret
JWT_EXPIRATION_TIME=3600
